@media screen and (min-width: 38rem){ 
    :root{
    --color-bs: #BFA6A2;
    --btn-bg: #ff776d;
    --btn-text: rgb(0 0 0 /80%);
    --btn-hover: #f68f84;
    --nav-bg: #731c1c;
    --nav-hover: #AC4F48;
    --modal-bg: #933f09;
    --text: #fff;
    --font: "Quicksand"
    }
    header{
       display: flex;
        align-items: center;
        justify-content: start;
        max-height: 70px;
        width: auto;
        padding-top: 18px;
        border-bottom: 1px solid #aaa;
    }
    header span,
    .svg,
    .ham-btn{
        display: none;
    }  
    .brandlogo{
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
    }
    .navigation {
        display: flex;  
        background-color: var(--nav-bg);
        
    }
    
    .navigation li{
       flex: 1;
      border-left: 1px solid #aaa;
      text-align: center;
      
    }
    .navigation a{
       border: 0;
       display: block;
       padding: 16px;
    }
    .hero img.hide{
        display: block;
    }
    .hero{
        display: flex;
      margin: .95rem;
    }
    .hero img{
        width: 50%;
    }
    .grouped{
        display: grid;
        margin: 0 auto;
        max-width: 1000px;
        width: 85%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 16px;
        
    }
    .grouped #curious{
        grid-column: 2;
    }
    .grouped #updates{
        grid-row: 1/3;
    }
    #planetCard{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        grid-template-rows: auto auto;
    }
   dialog{
   max-width: 500px;
   }
   #planetCard section{
    border: 2px solid var(--btn-text);
    border-radius: 12px;
    background: rgba(115, 28, 28, 0.44 );
    box-shadow: 2px 3px 4px var(--btn-text);
   }
   #planetCard section h4{
    border-bottom: 1px solid var(--btn-text) ;
   }
   .grouped #updates section:hover{
    background-color: #798897;
   }
   #planetCard section:hover{
   rotate: 0.03turn;
   }
}