@media screen and (min-width: 38rem) {
    header{
        grid-template-columns: 24px auto;
        padding: 15px 0 0 0;
    }
    header img{
     margin-bottom: 2px;
    }
    .nav-menu{
        display: none;
    }
    header,footer,main,nav{
        max-width: 900px ;
        margin: 0 auto;
    }
    .navigate{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color:#eee;
        border-bottom: 1px solid #ddd;
        
    }
    .container{
        display: grid;
        grid-template-columns:auto auto auto;
        grid-template-rows: auto 1fr 1fr;
       
    }
    .container h1{
        grid-column: 1/4;
        grid-row: 1;
    }
    .about{
        grid-column: 1/3;
        grid-row: 2;
    }
    .web{
        grid-column: 1/4;
        grid-row: 3;
        margin-bottom: 16px;
    }
    .photo{
        grid-column: 3/4;
        grid-row: 2;
    }
    #space.show{
        display: grid;
        grid-template-columns: 1fr 1fr  1fr;
         column-gap: 8px;
    }
    .space{
        display: none;
    }
    #space p{
        grid-column: 1/4;
       
    }
    
}